<ion-header>
  <ion-toolbar>
    <ion-title>
      Gold Knight Tech
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>

      
      <ion-thumbnail>
        <img src="/assets/goldknight.png">
      </ion-thumbnail>

    
      
    
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Who We Are</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
Gold Knight Tech Ltd is a proud local company providing first class services all along the Great Vancouver Area for almost a decade.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
     
      <ion-item href="http://www.goldknighttech.com">
        <ion-icon slot="start" color="medium" name="play"></ion-icon>
        <ion-label>Website: www.goldknighttech.com</ion-label>
      </ion-item>
      <ion-item href="mailto:info@goldknighttech.com">
        <ion-icon slot="start" color="medium" name="tv"></ion-icon>
        <ion-label>Email:info@goldknighttech.com</ion-label>
      </ion-item>
      <ion-item href="tel://6033175241">
        <ion-icon slot="start" color="medium" name="tablet-portrait"></ion-icon>
        <ion-label>Tel: 604 317 5241</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
